
 html,
 body {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
	 font-family: 'Raleway', sans-serif;
 }

 #map {
	width: 80%;
}
#title {
		font-family: 'Raleway', sans-serif;
		color: #ffffff;
		padding-top: 10px;
		padding-bottom: 5px;
}

 input {
	 padding: 10 95 10 20;
	 margin-top: 15;
	 margin-left: 8;
	 border-radius: 10px;
	 border: none;
 }
 .list-item {
	 list-style: none;
	 padding-top: 1em;
	 color: black;
 }
 
 .content {
	 width: 100%;
	 height: 100%;
	 display: flex;
 }
 .header {
	 background-color: gray;
	 text-align: center;
 }
 .bar {
	 width: 20%;
	 background-color: #C0C0C0;
 }
 li {
	cursor:pointer;
	
}
	
li:hover {
	color: white;
}
.im1{
	width:50px;
	height:50px;
	border-radius: 5px;
}
	

 
 
